.no-track
    h1 Looks like you haven't added a track yet!
    ul
        li
            span.no-track__count 1. 
            | Click 
            span.no-track__orange on the 
                span.no-track__plus + 
            | on the top orange bar
        li
            span.no-track__count 2. 
            | Paste the Youtube or Soundcloud link to a track
        li
            span.no-track__count 3. 
            | Voilà!
