.no-track
    h1 Looks like you haven't added a track yet!
    ul
        li
            span.no-track__count 1. 
            | Click on
            .add-track
                button.button.js-add-track.js-toggle-submit + Add a track
        li
            span.no-track__count 2. 
            | Paste the Youtube or Soundcloud link to a track
        li
            span.no-track__count 3. 
            | Voilà!
