.no-track
  padding: 40px
  ul
    margin: 0
    padding: 0
    list-style-type: none
    font-size: 1.4em
    color: #333
    li
      margin-bottom: 10px
      height: 50px
    span.no-track__count
      color: #888
    span.no-track__orange
      margin-right: 5px
      padding: 0 0 0 5px
      background: #e74c3c
      font-weight: bold
      color: #333
      .no-track__plus
        color: white
  .add-track
    display: inline-block
    margin: 0 15px
    button
      width: auto
      display: inline-block
      padding: 10px
      font-size: .5em
