extends layout

block css
  link(rel='stylesheet', href='/stylesheets/home.css')

block content
  .content
    .header
      .header-top.table
        h2 Trackly
        .add-track.js-add-track.dn
          span.js-toggle-submit +
      #form.form
    #list.track-list

block js
  if (prod)
    script(src="/javascripts/m.js")
  else
    script(src="/javascripts/main.js")
