extends layout

block css
  link(rel='stylesheet', href='/stylesheets/home.css')

block content
  .header
    h2 Trackly
    .profile.table
      img(src="http://graph.facebook.com/" + expose.user.uid + "/picture?width=100&height=100", alt="")
  #form.form
  #list.track-list

block js
  script(src="javascripts/main.js")
