extends layout

block content
  form(method="POST", action="/api/user/#{expose.uid}/tracks")
    input(type="text", name="name")
    input(type="text", name="url")
    input(type="text", name="provider")
    input(type="submit")

block js
  script(src="javascripts/main.js")
