extends layout

block css
  link(rel='stylesheet', href='/stylesheets/home.css')

block content
  .left-bar
    h1 Trackly
    .left-profile
      img(src="http://graph.facebook.com/1106072612/picture?width=100")
      p.left-profile__name Arthur Himmel
    ul.left-menu
      li Home
      li Archived
  .content
    .header
      .header-top.table
        h2 Trackly
        .add-track.js-add-track
          span.js-toggle-submit +
      #form.form
    #list.track-list

block js
  if (prod)
    script(src="/javascripts/m.js")
  else
    script(src="/javascripts/main.js")
