doctype html
html
  head
    title Trackly
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
    block css
  body
    block content
  script.
    window.expose = !{JSON.stringify(expose)}
  block js
  if (!prod)
    script(src="//localhost:35729/livereload.js")
