extends layout

block css
  link(rel='stylesheet', href='/stylesheets/login.css')

block content
  .login
    h1.title= "Trackly"
    a.button(href="/auth/facebook")
        i.fa.fa-rocket
        | Login With Facebook
