extends layout

block css
  link(rel='stylesheet', href='/stylesheets/login.css')

block content
  .big-image
  .login
    h1.title= "Trackly"
    a.facebook-connect(href="/auth/facebook") Login With Facebook
