.profile
  display: table
  color: #FFFFFF
  position: absolute
  padding: 10px
  top: 0
  right: 0
  img
    height: 40px
    border-radius: 20px
  .user-name
    padding: 0 10px
    font-weight: normal
