.header
  background: #e74c3c
  border-radius: 0 0 10px 10px
  position: relative
  .header-top
    width: 100%
    h2
      margin: 0
      width: 100%
      line-height: 2em
      font-size: 2em
      text-align: center
      color: #FFFFFF

    .profile
      width: 10%
      color: #FFFFFF
      padding-right: 20px
      img
        height: 50px
        border-radius: 25px
        border: 3px white solid

    .add-track
      width: 10%
      padding-left: 20px
      span
        font-weight: bold
        font-size: 2.7em
        color: white
        cursor: pointer
        &:hover
          color: #ecf0f1

  .url-input
    text-align: center
    padding-bottom: 15px
    display: none
    width: 40%
    margin: auto
    input
      width: 100%
