.track
  width: 100%
  position: relative
  margin: 10px 0
  border: 1px  #ddd solid
  background: #fff
  list-style: none
  .track-image-container
    width: 100px
    max-width: 100px
    position: relative
    text-align: center
    overflow: hidden
    img
      height: 75px
      vertical-align: middle
  .track-infos
    padding: 0 25px 0 15px
    a
      display: block
      text-decoration: none
      font-weight: bold
      font-size: 1.1em
    .track-actions
      position: absolute
      top: 20px
      right: 20px
      font-weight: bold
      cursor: pointer
      font-size: 1.5em
      & > span
        padding: 0 8px
        border-left: 1px #ddd solid
        &:first-child
          border: none
        &:hover
          color: #323A44
    .track-info
      padding: 0 0 5px 0
      color: #333
      font-weight: lighter
      font-size: 0.8em
      .created-at
        color: #999
      .provider
        &.youtube
          color: #e52d27
        &.soundcloud
          color: #FF6600
