@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
/* line 3, ../../assets/sass/login.sass */
* {
  box-sizing: border-box;
}

/* line 6, ../../assets/sass/login.sass */
html, body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Source Sans Pro";
  font-weight: lighter;
}

/* line 16, ../../assets/sass/login.sass */
h1 {
  margin: 0;
}

/* line 19, ../../assets/sass/login.sass */
.big-image {
  width: 40%;
  height: 100%;
  float: left;
  background-image: url("/images/bg_min.jpg");
  background-position-x: -90%;
}

/* line 26, ../../assets/sass/login.sass */
.login {
  float: left;
  width: 60%;
  height: 100%;
  padding-top: 15%;
  border-left: 1px #aaaaaa solid;
  text-align: center;
  background: #fdfdfd;
}
/* line 35, ../../assets/sass/login.sass */
.login .title {
  width: 50%;
  margin: auto;
  padding-bottom: 10px;
  border-bottom: 1px #eeeeee solid;
  font-weight: lighter;
  font-size: 5em;
  color: #333333;
}
/* line 44, ../../assets/sass/login.sass */
.login .facebook-connect {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px #e2e2e2 solid;
  border-bottom-width: 3px;
  border-radius: 3px;
  background: #fafafa;
  color: #444444;
  font-weight: bold;
  text-decoration: none;
}
/* line 55, ../../assets/sass/login.sass */
.login .facebook-connect:active {
  border-bottom-width: 1px;
  border-top-width: 3px;
}
