@import "../utils/common"
@import "../atoms/track"
@import "../atoms/button"
@import "../atoms/add-track"
@import "../molecules/form"
@import "../molecules/left_bar"
@import "../molecules/input-button"
@import "../molecules/no_track"

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
  .dn
    display: none !important
  .content
    width: 100%
    margin-top: 30px
  body
    font-size: 2.2em
  .header
    width: 100%
    left: 0
