@import "../utils/common"
@import "../atoms/track"
@import "../atoms/button"
@import "../atoms/top_bar"
@import "../molecules/input-button"
@import "../molecules/no_track"

.left-bar
  position: fixed
  width: 230px
  background: #e74c3c
  height: 100%
  color: #fff
  h1
    margin: 0
    color: white
    text-transform: lowercase
    text-align: center
    font-weight: lighter
    letter-spacing: 10px
    padding: 10px 0
    border-bottom: 1px #EDB3AD solid
    background: #E7685B
  .left-profile
    display: table
    width: 100%
    padding: 10px 10%
    border-bottom: 1px #EDB3AD solid
    img
      width: 50px
      display: table-cell
      border-radius: 25px
      border: 3px white solid
      margin-right: 10px
    p
      display: table-cell
      vertical-align: middle
      font-weight: bold
  ul
    margin: 0
    list-style: none
    padding: 0
    li
      padding: 15px 20px
      border-bottom: 1px #EDB3AD solid
      cursor: pointer
      &:hover
        background: #E7685B

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
  .dn
    display: none !important
  .content
    width: 100%
    margin-top: 30px
  body
    font-size: 2.2em
  .header
    width: 100%
    left: 0
