@import "../utils/fonts"
@import "../atoms/button"

*
  box-sizing: border-box

html, body
  position: relative
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  overflow: hidden
  font-family: "Source Sans Pro"
  font-weight: lighter

h1
  margin: 0

.big-image
  width: 40%
  height: 100%
  float: left
  background-image: url('/images/bg_min.jpg')
  background-position-x: -90%

.login
  float: left
  width: 60%
  height: 100%
  padding-top: 15%
  border-left: 1px #aaa solid
  text-align: center
  background: #fdfdfd

  .title
    width: 50%
    margin: auto
    padding-bottom: 10px
    border-bottom: 1px #eee solid
    font-weight: lighter
    font-size: 5em
    color: #333
