@import "../utils/common"
@import "../atoms/button"

body
  overflow: hidden

.login
  width: 100%
  padding: 10% 0 5% 0
  text-align: center
  background: #e74c3c

  .title
    margin: 0
    font-size: 4em
    color: #ffffff
    text-transform: uppercase
    text-align: center
    padding-left: 50px
    letter-spacing: 50px
    padding-bottom: 15px
    font-weight: lighter

  i
    margin-right: 5px

.bottom
  height: 100%

  ul
    width: 80%
    margin: 0 auto
    padding: 0
    display: table
    border-left: 1px #ddd solid
    list-style-type: none

    li
      display: table-cell
      width: 33.3%
      padding: 50px 30px
      text-align: center
      border-right: 1px #ddd solid
      min-height: 200px
      font-weight: bold
      i
        display: block
        font-size: 4em
        padding-bottom: 20px

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
  body
    font-size: 2em
  a.button
    margin-top: 30px
    font-size: 2em
    padding: 20px 40px
  .bottom
    ul
      width: 100%
      li
        display: block
        width: 100%